body {
  margin: 0;
  position: fixed;
  overscroll-behavior-y: contain;
  overflow: hidden;
  background: black;
}

#info {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
}

#c {
  background: white;
}
